

.login {
  background-image: url('../assets/wall.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contain{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  height: 200px;
  border-radius: 50%;
  border-style: groove ridge ridge groove;
  border-color: purple;
  margin: 20px;
  
}

.formBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, black, gray);
  border-radius: 25px;
  border: 2px solid black;
  width: 36rem;
  height: 30rem;
}

.emailForm,
.passForm
{
  margin-bottom: 20px;
}

.button{
  width: 100px;
  margin-bottom: 5px;
  background-color: white;
  color: black;
  border-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  border-color: black;
  background-color: white;
  color: black;
  border-width: 2px;
}

.link{
  color: white;
  text-decoration: underline;
}

.link:hover{
  color: purple;
}



